*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 0;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

nav {
  z-index: 100;
  width: 95%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  height: 100%;
}

.title {
  text-decoration: none;
  padding: 0;
  height: 6rem;
  font-size: 2rem;
  margin-left: 3%;
  color: #555;
  letter-spacing: 0.2rem;
}

.menu {
  padding-top: 0.5rem;
}

li {
  display: inline;
}

li a {
  margin: auto;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2rem;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #777;
  transition: width .5s;
}

li a:hover {
  color: #FF5126;
}

li a:hover::after {
  width: 100%;
}

#space {
  height: 90px;
}

#content {
  margin: 0 auto;
  max-width: 1000px;
}

.aboutMe {
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 12em;
  max-width: 1000px;
}

.projects {
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 12em;
  max-width: 1000px;
}

.analysis {
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 12em;
  max-width: 1000px;
}

.heading-two {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1em;
}

.heading-three {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: .2em;
}

.flexContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1em;
}

.flexItem1 {
  margin: 0;
  padding: 0;
  float: left;
  flex: 3;
  min-width: 300px;
  margin-bottom: 2em;
  padding: 1em;
}

.flexItem2 {
  margin: 0 auto;
  padding-right: 3em;
  float: left;
  flex: 4;
  min-width: 300px;
  margin-bottom: 2em;
}

.list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.items {
  margin: 0;
  padding: 0;
  background-color: #fff;
  float: left;
  flex: 1;
  min-width: 290px;
}

.items a {
  margin: 0;
  padding: 0;
}

.image {
  max-width: 100%;
  margin: 0 auto;
  transition: transform .2s;
}

.image:hover {
  transform: scale(1.05);
}

p {
  padding-bottom: 1em;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #444;
}

/*animation css credit to mutedblues, modified by Wade*/

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .items {
    width: 300px;
  }
}

@media (max-width: 1100px) {
  #content {
    max-width: 90%;
    margin: 0 auto;
  }
}