*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 0;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

nav {
  z-index: 100;
  width: 95%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  height: 100%;
}

.title {
  text-decoration: none;
  padding: 0;
  height: 6rem;
  font-size: 2rem;
  margin-left: 3%;
  color: #555;
  letter-spacing: 0.2rem;
}

.menu {
  padding-top: 0.5rem;
}

ul{
  margin-left: 1.2em;
}

li {
  padding-bottom: 1em;
  padding-bottom: 1em;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #444;
  list-style-position: outside;
}

a {
  text-decoration: none;
}

li a {
  margin: auto;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2rem;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #777;
  transition: width .5s;
}

li a:hover {
  color: #FF5126;
}

li a:hover::after {
  width: 100%;
}

.link {
  font-size: 18px;
  color: rgba(255, 255, 255, 255);
}

.externalLink {
  font-size: 18px;
  color: blue;
  text-decoration: underline;
}

.externalLink:hover, .externalLink:focus {
  color: default;
  outline: none;
  text-decoration: none;
}

.link:hover, .link:focus {
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  text-decoration: underline;
}

.link-left {
  float: left;
  margin-top: 3rem;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.link-left:hover, .link-left:focus {
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  text-decoration: underline;
}

.link-right {
  float: right;
  margin-top: 3rem;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.link-right:hover, .link-right:focus {
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  text-decoration: underline;
}

.link1 {
  float: right;
  padding: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.link1:hover, .link1:focus {
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  text-decoration: underline;
}

#space {
  height: 90px;
}

#content {
  margin: 0 auto;
  max-width: 1000px;
}

.frame {
  width: 100%;
  height: 400px;
}

.content {
  margin: 0 auto;
  background-color: lightgrey;
}

.footer {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.aboutMe {
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 10em;
  max-width: 1000px;
}

.projects {
  margin: 0 auto;
  margin-top: 15em;
  margin-bottom: 0em;
  padding-top: 2em;
  padding-bottom: 5em;
  max-width: 1000px;
}

.footer-content {
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 1000px;
  text-align: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.analysis {
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 9em;
  max-width: 1000px;
}

.heading-one {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #333;
}

.heading-two {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.heading-three {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: .2em;
}

.heading-four {
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 0em;
  color: #333;
}

.heading-five {
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 2.5rem;
  margin-bottom: 0em;
  color: #333;
}

.poflexContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1em;
}

.poflexContainer:hover .poImage {
  opacity: 0.8;
}

.poflexContainer:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.poflexContainer2 {
    background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.flexContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 0em;
}

.flexItem1 {
  margin: 0;
  padding: 0;
  float: left;
  flex: 3;
  min-width: 400px;
  margin-bottom: 0.5em;
  padding: 1em;
}

.flexItem2 {
  margin: 0 auto;
  padding-right: 3em;
  float: left;
  flex: 4;
  min-width: 300px;
  margin-bottom: 0.5em;
}

.flexItem3 {
  margin: 0;
  padding: 0;
  float: left;
  flex: 3;
  min-width: 300px;
  margin-bottom: 0.5em;
}

.poFlexImage {
  margin: 0 auto;
  padding-right: 3em;
  float: left;
  min-width: 300px;
  margin-bottom: 0em;
  flex: 3;
}

.poFlexText {
  margin: 0;
  float: left;
  min-width: 300px;
  margin-bottom: 2em;
  padding: 1em;
  padding-top: 0em;
  flex: 4;
}

.list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.items {
  margin: 10px;
  padding: 0;
  float: left;
  flex: 1;
  min-width: 290px;
  overflow: hidden;
}

.items a {
  margin: 0;
  padding: 0;
}

.image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  transition: transform .2s;
  transform: scale(1.01);
  border: 1px solid #999;
}

.pImage {
  max-width: 50%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
  transition: transform .2s;
  transform: scale(1.01);
  border: 1px solid #999;
}

.image2 {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0;
  transition: transform .2s;
  transform: scale(1.01);
}

.itemImage {
  opacity: 1;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  transition: transform .2s;
  transform: scale(1.05);
}

.itemImage:hover {
  transform: scale(1);
}

.poImage {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 30px;
  padding: 0;
  transition: transform .2s;
  opacity: 1;
}

.poImage:hover {
  opacity: 0.8;
}

p {
  padding-bottom: 1em;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #444;
}

.p1 {
  padding-bottom: 0em;
  font-weight: 500;
  font-size: 1.05em;
}

.p2 {
  padding-top: 0em;
  padding-bottom: 0.5em;
  font-size: 1.05em;
}

.p3 {
  padding-top: 0em;
  padding-bottom: 0em;
  font-size: 1em;
}

.contact {
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 0em;
  max-width: 1000px;
}

.contact2 {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 6em;
  max-width: 1000px;
}

/*animation css credit to mutedblues, modified by Wade*/

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .items {
    width: 300px;
  }
}

.video {
  height: 400px;
}

@media (max-width: 1100px) {
  #content {
    max-width: 90%;
    margin: 0 auto;
  }
  .projects {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .flexItem1 {
    min-width: 300px;
  }
}